# Byte-compiled / cache files
__pycache__/
*.py[cod]

#idea
.idea

# macOS

.DS_Store

# Python virtual environments
env/
venv/

# VS Code
.vscode/

# Archives
Archive.zip

# Backup files
*.bak
*.swp
